[Unit]
Description=Service for automatic ssh connection
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/opt/autossh_py/autossh.py
User=alex
#ExecReload=/bin/kill -HUP $MAINPID
#Restart=on-failure
StandardOutput=journal
StandardError=inherit
Nice=19
IOSchedulingClass=3

[Install]
WantedBy=multi-user.target
